#!/bin/sh

export PATH="$PATH:/home/pmorgan/bin"

if [ ! -f "/home/pmorgan/key.txt" ]; then
    age --decrypt --output "/home/pmorgan/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/home/pmorgan/key.txt"
fi
