# zshrc
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" }}
{{    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}


skip_global_compinit=1
unset ZSH_DEBUG
# export ZSH_DEBUG=true
# zmodload zsh/zprof

# compinit again!
export ZSH_CONFIG=~/.zsh
autoload -Uz compinit

if grep -q microsoft /proc/version; then
	ON_WSL=1
else
	ON_WSL=0
fi

if [[ $ON_WSL == 0 ]]; then
	# echo "not on WSL"
	compinit
else
	# echo "on WSL"
	# Save completion to cache since it takes too much time to load on WSL
	current=$ZSH_CONFIG/.zcompdump-$(date '+%Y%m%d')
	if [ -f $current ]; then
		# echo "reloading saved compinit"
		compinit -C $current
	else
		echo "creating compinit"
		rm $ZSH_CONFIG/.zcompdump-* 2>/dev/null
		compinit -d $current
	fi
fi

# export location="$HOME/.dotfiles"
export location="$HOME/.local/share/chezmoi"

# Configuration
for config_file ("${location}/dot_zsh/"*.zsh) {
  if [[ -v ZSH_DEBUG ]]; then
      echo $config_file
  fi
  source $config_file
}


#eval $(op signin petermorgan)

#source /root/.config/broot/launcher/bash/br

#homebrew
export BREW_HOME="/home/linuxbrew/.linuxbrew/bin"
export PATH="$PATH:$BREW_HOME"

#zoxide
if command -v zoxide &>/dev/null; then
  eval "$(zoxide init zsh)"
fi

if [ -d ~/go ]; then
  # source /etc/profile.d/
  export GOPATH=$HOME/go
  export GOROOT=/usr/local/go
  export GOBIN=$GOPATH/bin
  export PATH=$PATH:$GOBIN
  export PATH=$PATH:$GOROOT/bin
fi

if command -v direnv &>/dev/null; then
  eval "$(direnv hook zsh)"
fi

# eval `dircolors ~/.dotfiles/etc/bliss.dircolors`
#
if command -v phylum &>/dev/null; then
	source /home/pmorgan/.local/share/phylum/zshrc
fi
#

# zprof

# eval "$(atuin init zsh --disable-up-arrow)"
source ~/antigen.zsh
antigen init ~/.antigenrc

# now set the editor, as nvim is installed via asdf, which is a plugin in antigen
if command -v nvim &>/dev/null; then
	export EDITOR=nvim
else
	export EDITOR=vim
fi
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
