#!/usr/bin/env bash

set -eufo pipefail

# setup gpakoz tmux
ln -s -f ~/.tmux_runtime/.tmux.conf ~/.tmux.conf

# install antigen for zsh
if [ ! -e "$HOME/antigen.sh" ]; then
	curl -L git.io/antigen > ~/antigen.zsh
fi

# install just
if ! command -v just >/dev/null; then
	curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | bash -s -- --to ~/.local/bin
fi

# setup packer for nvim
if [ ! -d "$HOME/.local/share/nvim/site/pack/packer/start/" ]; then
	git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
fi
