#!/bin/sh

# setup gpakoz tmux
ln -s -f ~/.tmux_runtime/.tmux.conf ~/.tmux.conf

# install antigen for zsh
curl -L git.io/antigen > ~/antigen.zsh

# install just
if ! command -v just >/dev/null; then
	curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | bash -s -- --to ~/.local/bin
fi

# setup packer for nvim
if [ ! -e "~/.local/share/nvim/site/pack/packer/start/packer.nvim" ]; then
	git clone --depth 1 https://github.com/wbthomason/packer.nvim ~/.local/share/nvim/site/pack/packer/start/packer.nvim
fi
